<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Ifi_Comments>
            <version>0.1.0</version>
        </Ifi_Comments>
    </modules>
    <global>
        <models>
            <comments>
                <class>Ifi_Comments_Model</class>
                <resourceModel>comments_resource</resourceModel>
            </comments>
            <comments_resource>
                <class>Ifi_Comments_Model_Resource</class>
                <entities>
                    <comment>
                        <table>ifi_comments</table>
                    </comment>
                </entities>
            </comments_resource>
        </models>
        <resources>
            <Ifi_Comments>
                <setup>
                    <module>Ifi_Comments</module>
                </setup>
            </Ifi_Comments>
        </resources>
    </global>
    <frontend>
        <routers>
            <comments>
                <use>standard</use>
                <args>
                    <module>Ifi_Comments</module>
                    <frontName>comments</frontName>
                </args>
            </comments>
        </routers>
    </frontend>
    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>ifi</default>
                </theme>
            </design>
        </admin>
    </stores>
</config>
