<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<modules>
		<Nathan_Comments>
			<version>0.1.0</version>
		</Nathan_Comments>
	</modules>
	<frontend>
		<routers>
			<comments>
				<use>standard</use>
				<args>
					<module>Nathan_Comments</module>
					<frontName>comments</frontName>
				</args>
			</comments>
		</routers>
	</frontend>
	<global>
		<models>
			<comments>
				<class>Nathan_Comments_Model</class>
				<resourceModel>comments_mysql4</resourceModel>
			</comments>
			<comments_mysql4>
				<class>Nathan_Comments_Model_Mysql4</class>
				<entities>
					<comment>
						<table>nathan_comments</table>
					</comment>
				</entities>
			</comments_mysql4>
		</models>
		<resources>
			<comments_setup>
				<setup>
					<module>Nathan_Comments</module>
					<class>Nathan_Comments_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</comments_setup>
			<comments_write>
				<connection>
					<use>core_write</use>
				</connection>
			</comments_write>
			<comments_read>
				<use>core_read</use>
			</comments_read>
		</resources>
	</global>
</config>