<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<modules>
		<Ifi_Comments>
			<version>0.1.0</version>
		</Ifi_Comments>
	</modules>
	<frontend>
		<routers>
			<comments>
				<use>standard</use>
				<args>
					<module>Ifi_Comments</module>
					<frontName>comments</frontName>
				</args>
			</comments>
		</routers>
	</frontend>
	<stores>
		<admin>
			<design>
				<package>
					<name>default</name>
				</package>
				<theme>
					<default>ifi</default>
				</theme>
			</design>
		</admin>
	</stores>
	<global>
		<models>
			<comments>
				<class>Ifi_Comments_Model</class>
				<resourceModel>comments_mysql4</resourceModel>
			</comments>
			<comments_mysql4>
				<class>Ifi_Comments_Model_Mysql4</class>
				<entities>
					<comment>
						<table>ifi_comments</table>
					</comment>
				</entities>
			</comments_mysql4>
		</models>
		<resources>
			<comments_setup>
				<setup>
					<module>Ifi_Comments</module>
					<class>Ifi_Comments_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</comments_setup>
			<comments_write>
				<connection>
					<use>core_write</use>
				</connection>
			</comments_write>
			<comments_read>
				<connection>
					<use>core_read</use>
				</connection>
			</comments_read>
		</resources>
	</global>
</config>